body{
  background-color:#F2F2F2;
  margin:0;
  word-break:keep-all;
}
td{
  vertical-align: top;
}
a{
  color:black;
  text-decoration:none;
}
.description{
  font-family: 'Nanum Gothic', sans-serif;
  font-size:18px;
  padding:10px;
}
.description-strong{
  font-size:22px;
}
.title-description{
  font-family: 'Gugi', cursive;
}
.subtitle-description{
  font-family: 'Gugi', cursive;
  font-size:20px;
  text-align:right;
}
.bottom-description{
  font-size:12px;
  text-align:center;
}

/* about */
.thumb-icon{
  font-size:4rem;
  margin:1.5rem;
}

/* work */
.thumbnail{
  margin:auto;
  width:20rem;
}
.work-title{
  padding:2rem;
}
.fa-link{
  padding:0.5rem;
}
.carousel-item{
  text-align:center;
}
.example-img{
  width:80%;
}
@media (max-width:800px){
  .example-img{
    width:100%;
  }
}

.item{
  background-color:white;
  border-radius: 50%;
  height:300px;
  padding:80px 50px 80px 50px;
}
.item a{
  color:#569CB6;
  text-decoration:underline;
}
.item:hover{
  background-color:black;
  color:white;
}

/* contact */
.center-contents{
  text-align:center;
}
.linked-icon{
  font-size:2rem;
  margin-top:1.5rem;
  width:3.5rem;
}
.pebble-img{
  margin:auto;
  width:400px;
}
@media (max-width:400px){
  .pebble-img{
    width:80%;
  }
}
