html {
	<!--height:1000px;-->
}
body {
	text-align:center;
	word-break:keep-all;
	background-color:#F7F8F8;
}
a {
	color:black;
	text-decoration:none;;
}
a:hover {
	color:#201EA9;
}
.top-wrapper {
	font-size: 44px;
	font-family: 'Abril Fatface', cursive;
	position:absolute;
	margin-top:30px;
	left:0;
	right:0;
}
.middle-wrapper {
	position:absolute;
	margin-top:120px;
	left:0;
	right:0;
}
#home {
	position:absolute;
	left:0;
	margin-left:90px;
	margin-top:7px;
}
#what {
	position:relative;
	margin-left:50px;
	color:gray;
}
#index-0 {
	position:relative;
	margin-left:-50px;
}
#index-1 {
	position:relative;
	margin-left:50px;
}
#index-2 {
	position:relative;
	margin-left:50px;
}
#index-3 {
	position:relative;
	margin-left:50px;
}
#contact {
	position:absolute;
	margin-top:7px;
	margin-left:70px;
}