html {
	cursor:url("../img/1.png"),auto;
}
body {
	background-color:#FDF4D9;
	font-family: 'Nanum Gothic', sans-serif;
	margin:0;
	text-align:center;
	word-break:keep-all;
}
a {
	color:black;
	text-decoration:none;;
}
a:hover {
	color:#201EA9;
	cursor:url("../img/2.png"),auto;
}
.top-menu-bar{
	background:rgb(255,255,255,0.75);
	height:70px;
	position:fixed;
	width:100%;
	z-index:1;
}
.main{
	height:1000px;
	position:relative;
}
.title{
	color:#A37003;
	font-family: 'Gugi', cursive;
	font-size:44px;
	font-weight:bold;
	left:0;
	position:absolute;
	right:0;
	text-align:center;
	top:200px;
}
.subtitle{
	color:#A37003;
	font-family: 'Gugi', cursive;
	font-size:18px;
	left:0;
	margin:50px;
	right:0;
}
.logo{
	color:#A37003;
	font-family: 'Gugi', cursive;
	font-size:18px;
	left:0;
	position:absolute;
	right:0;
	top:330px;
}
.introduction{
	top:50px;
}
.education{
	top:450px;
}
.content{
	left:10%;
	position:absolute;
	right:10%;
	top:400px;
}
.bottom{
	height:150px;
	position:relative;
}
.bottom-contact{
	bottom:120px;
}
.box{
	background-color:white;
	border-radius:20px;
	display:inline-block;
	font-size:16px;
	line-height:1.5;
	margin:5px;
	padding:20px;
	text-align:left;
}
.intro{
	width:200px;
}
